@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');
h1 {
  color:darkgreen;
  font-family: Schoolbell;
}

h2{
  color:#2b2d42;
}

a {
  color:#ff0000;
}
a:link{
 color: rgb(8, 7, 7)
}
a:hover{
  color:#0c07ff;
}

a:visited{
  color:hsl(337, 73%, 22%);
}
p{
  color:#465e74;
}
.cards img{
  max-height: 150px;
}